  {{ define "header" }}{{ partials.Include "page-header.html" . }}{{ end }} {{ define "main" }}
  <article class=
  "cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links mid-gray">
    <nav class="f6 fw6 gray mb3" aria-label="Breadcrumb">
      <ol class="list pl0 flex flex-wrap">
        <li class="mr2">
          <a href="/" class="link blue hover-dark-blue">Home</a> <span class="mh2">/</span>
        </li>
        <li class="mr2">
          <a href="/classes" class="link blue hover-dark-blue">All Classes</a> <span class=
          "mh2">/</span>
        </li>
        <li class="mr2 gray">6+ Classes</li>
      </ol>
    </nav>
    <h1>String Classes for Students 6+</h1><img src="/images/pcyo-kids-sequim-beginners.png">
    <section class="mw7 center ph3 pv4">
      <h3 class="f3 f2-ns mb2">Sequim Beginner, Intermediate, and Advanced Strings: <span class=
      "fw6">Amber Roskamp</span></h3>
      <p class="measure lh-copy mb4">Amber comes highly recommended from teaching elementary orchestra in the Port Angeles school district and has her Masters of Music from University of North Carolina Greensboro. We are more than lucky to be able to welcome her to the team!</p>
      <h3 class="f3 f2-ns mb2">Port Angeles Beginners: <span class="fw6">Jesse Ahmann</span></h3>
      <p class="measure lh-copy">Jesse is an eminently skilled cellist and bass player who
      regularly performs as a professional musician with multiple groups across a wide range of
      genres. He has 15 years of experience teaching orchestra students in schools, camps, and
      private lessons. Jesse is also highly skilled in composition and musical adaptation, allowing
      him to bring students’ favorite music to life in the classroom. We are thrilled to welcome
      Jesse to our teaching staff in 2025, where he will be teaching beginner students in Port
      Angeles.</p>
    </section>
    <section class="mw7 center ph3">
      <div class="tc">
        <a class="f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://jovial.org/pcyo/hello">✍️ New Students: Register on Jovial!</a> <a class=
        "f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://docs.google.com/forms/d/e/1FAIpQLScurZKvTNpv0szRfphVk_cIhgXW5aps4tpTj1Ee50dNgMF8mw/viewform?usp=sharing&amp;ouid=107459316929255460073">
        ✉️ Join our mailing list</a>
        <p class="measure lh-copy mb4">For more information about registration, email <a href=
        "mailto:registrar@sequimcommunityorchestra.org" class=
        "link blue hover-dark-blue">registrar@sequimcommunityorchestra.org</a>.</p>
      </div>
      <ul>
	      <li><strong>Who are these classes for?</strong> Our 6+ student classes are for beginner and intermediate students and held in both Port Angeles and Sequim. Students who cannot read or who cannot yet do focused work for 30 minutes should instead join our <a href="/classes/sprouts/">Sprouts</a> classes.</li>
	      <li><strong>When are classes?</strong> Classes are twice a week, Mondays and Wednesdays, held after school.  Port Angeles students who would like extra support for their orchestra classes at school may choose to attend once per week.</li>
	      <li><strong>How long will my student be in these classes?</strong> Students are expected to stay in the beginner class for one year, and then spend 2 year years mastering the basics of their instrument in the intermediate class.</li>
	      <li><strong>Is my student too skilled for this group?</strong> Students who have mastered the basics of their instrument with 1-3 years of school orchestra, 3 years of our classes, or 1-2 years of focused private lessons are likely ready for <a href="/classes/youth-orchestra/">Youth Orchestra</a>. High school students are likely ready for <a href="https://sequimcommunityorchestra.org">Sequim Community Orchestra</a>.
	      <li><strong>When can my student start?</strong> Our 6+ string classes are progressive throughout the year, so students wishing to start
        with no musical background should plan to join in fall and plan to attend the entire year. Students switching instruments or
        with school or private lesson support
        may join classes mid-year or mid-term if there is room.</li>
	<li class="mb3"><strong>What instruments are studied?</strong> Our 6+ classes are for groups of students studying <strong>violin, viola,
        cello, or bass</strong>.</li>
	<li class="mb3"><strong>How much is this ensemble?</strong> Beginner and intermediate classes are $150 per 8 week term. There are 3 terms, Fall, Winter, and Spring. We may also offer an optional short holiday term in December.  Scholarships are available and no student will be denied participation for inability to pay.</li>
      </ul>
      <h3 class="f3 f2-ns mb3">Material to look through before registration</h3>
      <ul class="pl3 measure lh-copy">
        <li class="mb2">
          <a href="/25-26_PCYO_Sequim_Handbook.pdf" class="link blue hover-dark-blue">Read our
          Student Handbook (Sequim)</a>
        </li>
        <li class="mb2">
          <a href="/25-26_PortAngeles_Handbook.pdf" class="link blue hover-dark-blue">Read our
          Student Handbook (Port Angeles)</a>
        </li>
        <li class="mb2">
          <a href="/PCYO-Policies_2025-2026.pdf" class="link blue hover-dark-blue">Behavior and
          Attendance Policies</a>
        </li>
        <li class="mb2">
          <a href="/Instrument%20Care.pdf" class="link blue hover-dark-blue">Instrument Care
          Handbook <span class="gray f6">(covers loan for most violins and violas)</span></a>
        </li>
        <li class="mb2">
          <a href="/cellos_and_expensive_instrument_policy.pdf" class=
          "link blue hover-dark-blue">Cellos and Expensive Instrument Loan Policy</a>
        </li>
        <li class="mb2">
          <a href="/Non-Program%20Loan%20Policy%20-%202025.pdf" class=
          "link blue hover-dark-blue">Non-Program Loan Policy (for non-students)</a>
        </li>
      </ul>
    </section>
  </article>{{ end }}
