  {{ define "header" }}{{ partials.Include "page-header.html" . }}{{ end }} {{ define "main" }}
  <article class=
  "cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links mid-gray">
    <nav class="f6 fw6 gray mb3" aria-label="Breadcrumb">
      <ol class="list pl0 flex flex-wrap">
        <li class="mr2">
          <a href="/" class="link blue hover-dark-blue">Home</a> <span class="mh2">/</span>
        </li>
        <li class="mr2">
          <a href="/classes/" class="link blue hover-dark-blue">Classes</a> <span class=
          "mh2">/</span>
        </li>
        <li class="mr2 gray">Youth Orchestra</li>
      </ol>
    </nav>
    <h1>Youth Orchestra</h1>
    <section class="mb5">
	    <div class="tc">Choose one:</div>
	    <h3>Sequim: Monday 4:30-5:45<br />Taught by Christine Faught</h3>
	    <h3>Port Angeles: Friday 3:30-5:45<br />Taught by Jesse Ahmann</h3>
      <p>Youth Orchestra is for young musicians who have mastered the basics of their
      instrument and are ready to play as an ensemble.</p>
      <p>We expect students to have mastered basic posture, bow and instrument hold, and
      at least G and D major scales.</p>
      <p>Students should also be ready to join a 75 minute rehearsal and pay attention
      for the duration, though there will be a short break in the middle.</p>
      <hr />
      <div class="pt4 f4 mw7 center">
        <div class="mb3 tc">
          <a class="f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://jovial.org/pcyo/hello">✍️     New Students: Register on Jovial!</a> <a class=
        "f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://docs.google.com/forms/d/e/1FAIpQLScurZKvTNpv0szRfphVk_cIhgXW5aps4tpTj1Ee50dNgMF8mw/viewform?usp=sharing&amp;ouid=107459316929255460073">
        ✉️ Join our mailing list</a>
        <p>For more information about registration, email <a href=
        "mailto:registrar@sequimcommunityorchestra.org" class=
        "link blue hover-dark-blue">registrar@sequimcommunityorchestra.org</a>.</p>
        </div>
      </div>
      <hr />
      <section class="mb5">
        <h2 class="f3 mb3">FAQ</h2>
        <ul class="pl3 lh-copy">
          <li class="mb3"><strong>Who is this ensemble for?</strong> Students with the required prequisite
		  courses from the PCYO (beginner & 2 years intermediate) <strong>or</strong> students with at least 1 year of
		  5 day per week classes <strong>or</strong> students with at least 1 year of focused private lessons.  Students must be ready
		  to join classes with primarily middle school students.  High school students are likely ready to join the 
		  <a href="https://sequimcommunityorchestra.org">Sequim Community Orchestra</a> instead.
	  </li>
          <li class="mb3"><strong>Should I have private lessons along with these classes?</strong>
          Yes. Although it is not required, we strongly encourage students to meet a second time
          per week with a teacher for one-on-one instruction. Private lessons are arranged directly
          with the teacher outside of these courses.</li>
          <li class="mb3"><strong>Where are these group courses located?</strong> Both Port Angeles
	  and Sequim will offer a "youth orchestra" ensemble.</li>
        </ul>
      </section>
    </section>
  </article>{{ end }}
