
  {{ define "main" }}
  <div class="pa3">
    {{ partial "classes.html" . }}
  </div>
  <div class="f4 mw7 center">
    <div class="mb3 tc">
        <a class="f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://jovial.org/pcyo/hello">✍️    New Students: Register on Jovial!</a> <a class=
        "f6 grow no-underline br-pill ba ph3 pv2 mb2 dib green" href=
        "https://docs.google.com/forms/d/e/1FAIpQLScurZKvTNpv0szRfphVk_cIhgXW5aps4tpTj1Ee50dNgMF8mw/viewform?usp=sharing&amp;ouid=107459316929255460073">
        ✉️ Join our mailing list</a>
        <p>For more information about registration, email <a href=
        "mailto:registrar@sequimcommunityorchestra.org" class=
        "link blue hover-dark-blue">registrar@sequimcommunityorchestra.org</a>.</p>
    </div>
  </div>
  <div class="pa4 f4 mw7 center">
    <p class="mb3">We will also likely offer <strong>Holiday Jams</strong> in November and December
    2026 in <strong>Port Angeles & Sequim</strong>.  Jams are for small groups of students (5 or 
    less), coached by local private teachers and musicians.</p>
    <h2 class="f3 b mt5 mb3">About Our Classes</h2>
    <p class="mb3"><strong>Peninsula Community Youth Orchestra</strong> is for children of any age
    and youths at heart. Classes are <strong>$150 per term</strong>, and terms run 8 weeks each in
    Fall, Winter, and Spring. Scholarships are available on request. When we have an instrument in
    your child’s size, we will loan it to them for free. Adults must pay a minimal maintenance fee
    for their instruments.</p>
    <p class="mb3">Children under 8, and those who are not yet able to read, are welcome to join
    our <a href="/classes/sprouts/">Sprouts classes</a>. Sprouts classes provide a fun introduction to music
    concepts with singing and dancing. Parents can choose between <strong>Suzuki Sprouts</strong>
    (age-appropriate group violin learning) and <strong>Sound Sprouts</strong> (age-appropriate
    music theory).</p>
    <p class="mb3">Children entering our <a href="/classes/6-plus-classes/">7+ string classes</a> should be able to read,
    as we begin teaching reading music in these classes right away. These classes are appropriate
    for students who are ready to sit for about 30–45 minutes and learn from a teacher. No musical
    background is expected for beginner classes.</p>
    <p class="mb3">Students who have been playing for more than a year with their school program
    (4–5 days a week), more than two years with our program, or taking private lessons may be ready
    to join the <a href="/classes/youth-orchestra/">Youth Orchestra</a> program. Children with some training but not ready
    for youth orchestra are welcome in our <a href="/classes/6-plus-classes/">Intermediate Strings</a> class if they need
    support learning their instrument.</p>
    <p class="mb3">Parents, grandparents, and other youths at heart may join our <a href="/classes/adult-strings/">Adult
    Strings</a> classes. We currently offer one for beginner violins in Port Angeles and one
    for beginner violas in Sequim, but may add more for intermediates, cello, or other classes
    depending on interest and availability.</p>
    <p class="mb3"><strong>Sequim classes</strong> are located at <em>Swisher Hall</em> in Sequim,
    WA, near Carrie Blake Park and the soccer fields, or at <em>Trinity United Methodist
    Church</em> on Blake Avenue.</p>
    <p class="mb3"><strong>Port Angeles classes</strong> are located at <em>First United Methodist
    Church</em> on 7th Street near the Masonic Lodge.</p>
  </div>
<section class="mw7 center pb4 ph4">
  <h2>
    How does our program fit in with other Peninsula music programs?
  </h2>

  <div class="f4">
    <p class="mb3">
      The Peninsula Community Youth Orchestra is designed to serve students who have
      traditionally had fewer opportunities to learn string instruments.
      The
      <a href="https://sequimcommunityorchestra.org/aboutUs.php"
         class="link blue hover-dark-blue">
        Sequim Community Orchestra's mission
      </a>
      specifically calls out the Sequim area, as its school district does not have an
      orchestra program. We also see many students join our classes from Chimacum.
      In Port Angeles, the school orchestra program begins in fourth grade, so students
      younger than grade 4 do not have a group program they can participate in.
      Homeschool students may also lack access to a group orchestra program.
    </p>

    <p class="mb3">
      We assume that students will graduate from our program after a few years and
      enter another orchestra suited to their skill level, such as the
      <a href="https://sequimcommunityorchestra.org/"
         class="link blue hover-dark-blue">
        Sequim Community Orchestra
      </a>.
      Once students have mastered their instrument, they may choose to audition for the
      <a href="https://portangelessymphony.org/"
         class="link blue hover-dark-blue">
        Port Angeles Symphony Orchestra
      </a>.
      This typically does not occur until high school and generally requires private
      instruction.
    </p>

    <p class="mb3">
      PCYO highly recommends private lessons in addition to our classes, especially as
      students demonstrate continued interest in their studies. Violins, violas, cellos,
      and basses are challenging instruments that take many years to master. A private
      teacher can help identify weaknesses, strengthen skills, and build on students’
      natural strengths. Please talk to your PCYO teacher for recommendations; both Port
      Angeles and Sequim have a strong community of well-vetted private instructors that
      we are happy to refer students to.
    </p>

    <p class="mb3">
      SCO and PCYO collaborate with
      <a href="https://www.olympicstringsworkshop.org/"
         class="link blue hover-dark-blue">
        Olympic Strings
      </a>,
      as our educational missions are closely aligned. Olympic Strings provides summer
      string programs for students on the Olympic Peninsula, and we highly recommend
      their offerings as a complement to our programs when classes are not in session.
    </p>

    <p class="mb3">
      The musical environment of the Olympic Peninsula is vibrant and growing, with
      several organizations actively expanding after-school opportunities for string
      students across the region. Expect more information on new and expanded
      opportunities for string students in the near future.
    </p>
  </div>
</section>
  {{ end }}
