{{/* For Users's overwrite */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Fira+Sans&display=swap');

body {

    font-family: 'Fira Sans', sans-serif;
  }
  .avenir {

    font-family: 'Fira Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
  }
  .gray,.mid-gray {
    color: #000
}
.bg-light-yellow {
    background-color: #FFF5C5;
}
</style>
